<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new message</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="form-page">
    <div class="form-container">
      <h1>hey <%= currentUser.username %>. what's in yer mind lad?</h1>

      <form action="/new" method="post">
        <label for="messageText">Tell us what's on your mind</label>
        <textarea name="text" id="messageText" rows="5" required></textarea>

        <button type="submit">Send</button>
      </form>
      <a href="/" class="form-container button-link">â† Back to Messages</a>
    </div>
  </body>
</html>
